.related {
  font-size: 10px;
  line-height: 11px;
  padding: 5px 15px;
  border-radius: 30px;
  border: 1px solid rgba(var(--color-active));
}

.featured {
  font-size: 8px;
  font-weight: 700;
  line-height: 9px;
  padding: 4px 5px 5px;
  letter-spacing: 0.06em;
  background: var(--color-night-shadz);
}
